{% extends 'base.html' %}
{% load static %}
{% block title %}Skills{% endblock title %}
{% block body %}
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">

                <div class="section-title">
                    <p>Programming Languages and Development </p>
                </div>

                <div class="progress">
                    <span class="skill">C++ </span>
                </div>

                <div class="progress">
                    <span class="skill">Python </span>
                </div>

                <div class="progress">
                    <span class="skill">HTML/CSS </span>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript </span>
                </div>

                <div class="progress">
                    <span class="skill">Django </span>
                </div>

                <div class="progress">
                    <span class="skill">MySQL/ PostgreSQL </span>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up">

                <div class="section-title">
                    <p>Certifications and Coding</p>
                </div>

                <div class="progress">
                    <span class="skill">Leetcode:<a href="https://leetcode.com/Pratigya_19/"  target="_blank"> Link</a></span>
                </div>

                <div class="progress">
                    <span class="skill">GFG:<a href="https://auth.geeksforgeeks.org/?to=https://auth.geeksforgeeks.org/user/kumaripratigya433"  target="_blank"> Link</a> </span>
                </div>

                <div class="progress">
                    <span class="skill">Python Certificate:<a href="https://www.hackerrank.com/certificates/a19ff0c71c12"  target="_blank"> Link</a> </span>
                </div>

                <div class="progress">
                    <span class="skill">Web Development Certificate:<a href="https://www.udemy.com/certificate/UC-afd42411-c667-4b37-a3f0-3e8ebdc0651c/"  target="_blank"> Link</a> </span>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Skills Section -->
{% endblock body %}
